{% extends "layout.html" %} {% block content %}
<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Entretenimiento</h2>
      <h3 class="section-subheading text-muted">Videos random</h3>
    </div>
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <center><h5 class="card-title">PARTY</h5></center>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/tJWWJiVYiUA"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <center>
              <p class="card-text">La mejor seción del BZRP</p>
            </center>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <center><h5 class="card-title">RAP-POP</h5></center>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/gMotH6XH2tQ"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <center><p class="card-text">Lil Nas-X</p></center>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <center><h5 class="card-title">MÚSICA ELECTRÓNICA 2022</h5></center>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/071NKUh-tEo"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <center><p class="card-text">Lelo Play</p></center>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <center><h5 class="card-title">LOL</h5></center>
            <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/8NzqoeWuA5M"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
            <center>
              <p class="card-text">Memes Random.</p>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section bg-light">
  <div class="container" "bg-light">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Memes</h2>
      <h3 class="section-subheading text-muted">
        Memes Random XD.
      </h3>
    </div>
    <center>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="card">
          <img src="{{url_for('static', filename='img/memes/meme1.jpg')}}" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" >
          <img src="{{url_for('static', filename='img/memes/meme2.jpg')}}" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="{{url_for('static', filename='img/memes/meme3.jpg')}}" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
